<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for shopping with us, <!--<%= @user %>--></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <!--<%= @user %>-->.<br>
    </p>
    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |line_item| %>
            <%= render 'item', line_item: line_item %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= @order.total %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
