<div class="well">
<tr>
  <td>
    <h2><%= review.user.first_name %>' Review Time!</h2>
  </td>
  <td>
    <h4><%= review.description %></h4>
    <br>
    <p><%= review.rating %></p>
    <h2><%= review.user.first_name %> <%= review.user.last_name %> <%= review.rating %> out of 5??</h2>

  </td>

</tr>
</div>
